@import url('https://fonts.googleapis.com/css2?family=Amethysta&family=Coiny&display=swap');

.Homepage {
    background: url(/src/assets/Home.png) no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
}

.reminderBox {
    background-color: rgb(255, 255, 255, 0.4);
    width: 35%;
    height: 275px;
    border: 3px solid #B2A4FF;
    border-radius: 30px;

    position: absolute;
    right: 35px;
    top: 110px;

    overflow: hidden;
}

.todaycardbox {
    position: absolute;
    right: 30px;
    top: 40px;

    /* text-align: center; */
}

.reminderTitle {
    font-family: 'Coiny', cursive;
    font-size: 1.7em;
    margin: 0;
    color: #7560A2;

    position: absolute;
    top: 90px;
    right: 170px;

    background-color: #FFFEF3;
    width: 270px;
    border-radius: 3.px;

    z-index: 99;
}

.NoteTitle {
    font-family: 'Coiny', cursive;
    font-size: 1.7em;
    margin: 0;
    color: #7560A2;

    position: relative;
    bottom: 75px;
    right: 190px;
}

.Note {
    width: 35%;
    position: absolute;
    right: 35px;
    bottom: 40px;
}

.NoteBox {
    background-color: rgb(255, 255, 255);
    width: 35%;
    height: 230px;
    border: 3px solid #B2A4FF;
    border-radius: 30px;

    overflow: hidden;

    position: absolute;
    right: 35px;
    bottom: 60px;
}

.EditBut {
    background: #B2A4FF;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.EditIcon {
    color: white;
    position: relative;
    top: 25px;
    right: 22px;
}

.EditNav {
    position: relative;
    left: 265px;
    bottom: 50px;
}

.RabbitFoot {
    width: 200px;
    position: absolute;
    bottom: 35px;
    right: 200px;
}

.divpos {
    position: relative;
}

.divpos1 {
    /* background-color: red; */
    width: 340px;
    position: absolute;
    right: 60px;
    top: -81px;
    height: 170px;
}

.NoteBody {
    font-family: 'Amethysta', serif;
    text-align: start;
}

.nothing {
    font-family: 'Amethysta', serif;
    font-size: 1.2em;

    position: relative;
    right: 150px;
}