@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

.Splash {
    background: url(/src/assets/Splashscreen.png) no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.logoimg {
    width: 540px;
    height: auto;
}

.logoimg1 {
    width: 100%;
    height: auto;

    position: relative;
    top: 50px;
}

.login {
    background-color: #B2A4FF;
    color: white;
    outline: none;
    border: none;
    height: 60px;
    width: 250px;
    font-size: 25px;
    font-family: 'Yeseva One', cursive;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.regis {
    background-color: #D9D9D9;
    color: #565656;
    outline: none;
    border: none;
    height: 60px;
    width: 250px;
    font-size: 25px;
    font-family: 'Yeseva One', cursive;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.login1 {
    background-color: #B2A4FF;
    color: white;
    outline: none;
    border: none;
    height: 60px;
    width: 250px;
    font-size: 25px;
    font-family: 'Yeseva One', cursive;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;

    position: relative;
    top: 50px;
}

.regis1 {
    background-color: #D9D9D9;
    color: #565656;
    outline: none;
    border: none;
    height: 60px;
    width: 250px;
    font-size: 25px;
    font-family: 'Yeseva One', cursive;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;

    position: relative;
    top: 50px;
}